.col.s12.m4
  .card
    .card-image
      = image_tag article.image.to_s
      %span.card-title= article.title
    .card-content
      %p= article.content
    .card-action
      = link_to "show", "#", class: "card-action-show"
      = link_to "edit", "#", class: "card-action-edit"
      = link_to "delete", "#", class: "card-action-delete"
