
.col.s12.m12
  .card
    %h4.center-align= page_title
    = form_for article do |f|
      .card-image
        = f.label :image, class: "article-image__label" do
          = image_tag @article.image.url, id: 'article-image__img'
          = f.file_field :image,style: "display: none"
        %p タイトル
        = f.text_field :title, placeholder: 'タイトルを入力してください'
      .card-content.clearfix
        = f.text_area :content, placeholder: '記事を入力してください'
        = f.submit '保存する' , class: "new_article__button btn right"
