.contents.grey.lighten-4
  .container.row
    .col.s12.m12
      .card
        .card-image
          = image_tag @article.image.to_s
          %span.card-title= @article.title
        .card-content
          %p= @article.content
        - if user_signed_in? && @article.user == current_user
          .card-action.clearfix
            = link_to "edit", edit_article_path(@article),class: "edit__btn btn"
            = link_to "delete", article_path(@article), method: :delete, class: "delete__btn btn"

  .container.row
    .col.s12.m12
      .card
        %h5 コメント
        .card-form.clearfix
          =form_for [@article, @comment] do |f|
            = f.text_field :content, placeholder: 'コメントを入力してください', cols: "1"
            = f.submit 'コメントする',class: "comment-btn btn right", id: 'comment-submit__btn '
        .card-comment
          .comments
            - @comments.each do |comment|
              %p.comment
                %strong="#{comment.user.name}: "
                = comment.content
