.contents.grey.lighten-4
  .row
    .col.s12.m12
      .card
        .card-image
          = image_tag @article.image.to_s
          %span.card-title= @article.title
        .card-content
          %p= @article.content
        .card-action
          = link_to "edit", edit_article_path(@article), class: "card-action-edit"
          = link_to "delete", article_path(@article), method: :delete,class: "card-action-delete"
      .card-comment
        aaaa
